body{
    background-color: rgb(255, 217, 160);
    font-family: "Lucida Handwriting", "Times New Roman", Times, serif;
}

#title, .recipes, .information-recipe {
    background-color: white;
    margin: 0 auto;
    border: 2px solid rgb(167, 142, 106);
}

#title{
    padding: 30px;
    margin-bottom: 40px;
    width: 260px;
    text-align: center;
    font-size: 160x;
    color: rgb(255, 217, 160);
    
}

.recipes{
    padding: 10px;
    font-size: 20px;
    width: 500px;
    text-align: center;
}

.recipes img{
    height: auto;
    width: 400px;
}

.black_forest, .flan, .lemon_pie{
    margin-bottom: 40px;
}

.information-recipe{
    padding: 40px;
    width: 1000px;
}

.information-recipe img{
    height: auto;
    width: 900px;
    display: block;
    margin: 0 auto;
}

.recipe h1{
    text-align: center;
}

.recipe-details{
    display: flex;
}
